@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@using FarmCentral.Shared;


@if (userLoginDto.Role == String.Empty)
{
    <button @onclick="Login" class="btn btn-primary">Login</button>
}
else
{
    <button @onclick="Logout" class="btn btn-danger">Logout</button>
}


@code {
    UserLoginDto userLoginDto = UserLoginDto.Instance;
    void Login()
    {
        NavigationManager.NavigateTo("login");
    }

    async Task Logout()
    {
    }

}